{% extends "auctions/layout.html" %}

{% block body %}

<div class="container">
   {% if message %}
      {% if update %}
      <div class="alert alert-sucess" role="alert">
        {{ message }} 🟩
      </div>

       {% else %}

       <div class="alert alert-dark" role="alert">
        {{ message }} 🔴
       </div>
       

       {% endif %}
    {% endif %}
 </div>

 {% if not listing.isActive and user == listing.price.user %}
    <div class="alert alert-dark" role="alert">
         {{ message }}
         you won the bid 🎉!
    </div>
 {% endif %}
      
 


<div class="row mx-3">
    {% if user.is_authenticated and listing.isActive %}
        {% if isOwner %}
          <form action="{% url 'closeBid' id=listing.id %}" method="POST" class="mx-3">
            {% csrf_token %}
            <button type="submit" class="btn-danger">close</button>
          </form>
        {% endif %}
        
        {% if isListingInWatchlist %}
            <form action="{% url 'removeWatchlist' id=listing.id %}" method="POST">
        {% else %}
            <form action="{% url 'addWatchlist' id=listing.id %}" method="POST">
        {% endif %}
        
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">
            {% if isListingInWatchlist %}
                Remove from watchlist
            {% else %}
                Add to watchlist
            {% endif %}
        </button>
    </form>
    {% else %}
        <h1>Please log in to manage watchlist</h1>
    {% endif %}
</div>

<h2>Pokemon: {{ listing.title }}</h2>
<img src="{{ listing.imageurl }}" alt="{{ listing.title }}" height="400px">
<p>{{ listing.description }}</p>
<h3> Initial price: ${{ listing.price.bid }}</h3>
<p>Owner: {{ listing.owner }}</p>
{% if user.is_authenticated %}
 <form action="{% url 'addBid' id=listing.id %}" method="POST">
    {% csrf_token %}
    <div class="form-group">
        <label for="price">Add a Bid</label>
        <input type="number" min="0" name="newBid" placeholder="Add a New Bid">
        <button type="submit" class="btn btn-warning">Add</button>
    </div>
 </form>
{% endif %}
<p>{{ message }}</p>        

<h2>Comments</h2>
<br>
{% if user.is_authenticated %}
<form action="{% url 'addComment' id=listing.id %}" method="POST">
    {% csrf_token %}
    <div class="form-group">
        <label for="comment">Comment</label>
        <input type="text" name="newComment" placeholder="Add a New Comment">
        <button type="submit" class="btn btn-info">Add</button>
    </div>        
</form>
{% endif %}
<br>
<ul class="list-group">
  {% for comment in allComments %}
    <li class="list-group-item">
        {{ comment.message }}
        <br/>
        <p>comment added by : <strong>{{  comment.author }} </strong> </p>
    </li>
  {% endfor %}
</ul>

{% endblock %}
